[Unit]
Description=Xylolabs Knowledge Base Worker
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/xylolabs-kb
ExecStart=/opt/xylolabs-kb/bin/xylolabs-kb
EnvironmentFile=/opt/xylolabs-kb/.env
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
AmbientCapabilities=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target
